.App {
	min-height: 100dvh;
	min-width: 100dvw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.board {
	margin: auto;
	width: 90dvh;
	height: 90dvh;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	background-image: url("/board.png");
	background-size: cover;
}

.row {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.piece {
	max-width: 100%;
}
